.skillsWrapper {
  height: 100vh;
  width: 100%;
  background-color: #5cb083;
  padding: 1% 0;
}

.skillsContentContainer {
  display: flex;
  flex-wrap: wrap;
}

.skills {
  width: 40%;
  padding: 0 5%;
}

.skillsHeader {
  text-align: center;
  text-decoration: underline;
  color: rgb(235, 235, 235);
}
.skillsContent {
  display: grid;
  background-color: whitesmoke;
  box-shadow: 0 0 10px rgb(50, 50, 50);
  border-radius: 10px;
  padding: 5%;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px; /* 원하는 간격 설정 */
}

.skillsItems {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .skillsContent {
    grid-template-columns: repeat(3, 1fr);
  }
  .skills {
    width: 43%;
    padding: 0 3%;
  }
}

@media screen and (max-width: 480px) {
  .skillsContentContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .skillsContent {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills {
    width: 100%;
    padding: 0;
  }
  .skillsWrapper {
    height: auto;
    padding: 5% 0;
  }
  .skillsHeader {
    width: 100%;
  }
  .skillsContentWrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
}
